<div class="checkbox-hobbie-input pb-3">
  <input
    class="form-control"
    type="text"
    readonly
    placeholder="Select Hobbies"
    (click)="showHobbies = !showHobbies"
  />
  <div class="hobbies d-flex shadow-sm py-2 px-1 rounded" *ngIf="showHobbies">
    <div class="hobby" *ngFor="let hobby of hobbies">
      <input
        type="checkbox"
        value="hobby.name"
        [checked]="hobby.checked"
        (click)="checkedHobbies(hobby)"
      />
      <label class="mx-2" for="hobby">{{ hobby.name }}</label>
    </div>
  </div>
</div>
