<div>
  <input
    class="form-control"
    type="text"
    readonly
    placeholder="Select Hobbies"
    (click)="showHobbies = !showHobbies"
  />
  <div *ngIf="showHobbies" class="mx-2 d-flex justify-content-start">
    <div class="hobby" *ngFor="let hobby of hobbies">
      <input
        type="checkbox"
        value="hobby.label"
        [checked]="hobby.selected"
        (click)="checkedHobbies(hobby)"
      />
      <label class="mx-2" for="hobby">{{ hobby.label }}</label>
    </div>
  </div>
</div>
